:root {
  --green: #096133;
  --blue: #4e3e8f;
  --blue-hover: #5a499e;
  --black: #111111;
  --border: #dbe0df;
  --white: #ffffff;
  --sm: 12px;
  --md: 14px;
  --nor: 16px;
  --lg: 24px;
  --xd: 32px;
  --exd: 42px;
}

.container {
  margin: 0 auto;
  width: 90%;
}

/* Navbar */
.navbar {
  /* border: 1px solid var(--blue); */
}

.navbar .container {
  /* border: 1px solid red; */
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

/* Navbar Logo */
.navbar .container .logo {
  width: 20%;
  /* padding: 6px; */
  /* border: 1px solid yellow; */
}

/* Navbar List: Search Box and Navigations */
.navbar .container .nav-list {
  display: flex;
  /* border: 1px solid pink; */
  width: 70%;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
}

.search-box {
  display: none;
}

/* Search Box */
.search-box .form-control {
  border: 1px solid var(--border);
  outline: none;
  padding: 6px;
  font-size: var(--md);
}

.search-box .form-control::placeholder {
  color: var(--border);
  font-size: var(--sm);
}

.search-box .form-control:focus {
  border-color: var(--blue-hover);
}

.search-box .search-btn {
  background: none;
  border: 1px solid var(--border);
  padding: 6px;
  font-size: var(--md);
  border-radius: none;
  outline: none;
}
.search-box .search-btn:hover {
  border-color: var(--blue-hover);
}

/* Navigations */
.navbar .container .nav-list ul.navlink {
  display: flex;
  list-style: none;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-bottom: 0px;
}

.navbar .container .nav-list ul.navlink .nav-item a,
.navbar .container .nav-list ul.navlink .nav-item.link-2 {
  padding: 6px;
  font-size: var(--md);
  margin-left: 1rem;
}

.navbar .container .nav-list ul.navlink .nav-item:last-child {
  background-color: var(--blue-hover);
  color: var(--white);
}

.link-1 {
  display: block;
  text-decoration: none;
  color: var(--black);
  position: relative;
}

.link-1::after {
  content: "";
  background: var(--blue-hover);
  /* mix-blend-mode: exclusion; */
  width: calc(100% + 10px);
  height: 0;
  position: absolute;
  bottom: 0px;
  left: -5px;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  z-index: -1;
}

.link-1:hover::after {
  height: calc(100%);
}

.link-1:hover {
  color: var(--white);
}

.navbar .container .nav-list ul.navlink .nav-item:last-child:hover {
  background-color: var(--blue);
  transition: all 0.3s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.nav-item.dropdown {
  display: none;
  border: 1px solid var(--border);
  color: var(--blue);
}

.navbar
  .container
  .nav-list
  ul.navlink
  .nav-item.link-2.dropdown
  .dropdown-content
  a {
  margin-left: 0;
  padding: 12px 8px;
  float: none;
  color: black;
  text-decoration: none;
  display: block;
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 20%;
  top: 8%;
  background-color: var(--white);
  min-width: 150px;
  padding: 0;
  border: 1px solid var(--border);
  z-index: 1;
}

.navbar
  .container
  .nav-list
  ul.navlink
  .nav-item.link-2.dropdown
  .dropdown-content
  a:hover {
  background-color: var(--blue-hover);
  color: var(--white);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Exhibit Session */

section#exhibit {
  /* border: 1px solid red; */
  background: url("../asset/joystick.png") no-repeat;
  background-color: var(--blue-hover);
  height: 80vh;
  background-attachment: fixed;
  background-size: cover;
  background-position: center 10%;
  overflow: hidden;
}

.content {
  /* border: 1px solid red; */
  width: 60%;
  padding: 2rem;
  margin-top: 8rem;
  color: var(--white);
}

.lead {
  font-size: var(--exd);
  font-weight: bold;
}
.sub-lead {
  font-size: var(--lg);
  line-height: 1;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
  .hide-sm {
    display: none;
  }

  .dropdown.show-sm {
    display: block;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .content {
    width: 70%;
  }
  .lead {
    font-size: var(--xd);
  }

  .sub-lead {
    font-size: var(--lg);
  }
  .hide-lg {
    display: none;
  }
}

@media (max-width: 768px) {
  .content {
    width: 90%;
  }
  .lead {
    font-size: var(--lg);
  }

  .sub-lead {
    font-size: var(--nor);
  }
}

@media (min-width: 992px) {
  .show-lg {
    display: block;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) {
}
